.bg-hero-section {
  background-image: url("https://ik.imagekit.io/uqbequiw9/Food-Store-Project/foodmunch-banner-bg.png?updatedAt=1745579892554");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
